<div style="text-align: center">
    Dies ist die Hauptseite von Additive
    <br><br>
    {{#link-to "newsletter.newsletterform" class="button"}}
        Newsletter Abbonement
    {{/link-to}}
</div>