<div style="text-align: center">
    Melden Sie sich auf dieser Seite für unsere Newsletter an!

    {{outlet}}
    {{#link-to "index" class="button"}}
        Zurück zur Hauptseite
    {{/link-to}}
</div>